{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
    <div class="text-content">
        <h1>FutureTech presenta:</h1>
        <h2>AUTOPET UTT</h2>
        <p>"Tu perro merece lo mejor, y eso incluye una alimentación precisa y constante. Nuestro comedero automático lo hace posible."</p>
        
        <div class="qr-container">
            <button>¡Descarga la app aquí!</button>
            <br>
            <img src="../static/css/images/qr_code.png" alt="QR para descargar app">
        </div>
    </div>

    <div class="image-content">
        <img src="../static/css/images/Captura de pantalla 2025-02-26 194708.png" alt="Comedero automático">
    </div>
</div>

<!-- Huellas decorativas -->
<img src="../static/css/images/paw.png" class="paw-prints paw1">
<img src="../static/css/images/paw.png" class="paw-prints paw2">
<img src="../static/css/images/paw.png" class="paw-prints paw3">
<img src="../static/css/images/paw.png" class="paw-prints paw4">
<img src="../static/css/images/paw.png" class="paw-prints paw5">
<img src="../static/css/images/paw.png" class="paw-prints paw6">
<img src="../static/css/images/paw.png" class="paw-prints paw7">

{% endblock %}
